
.filter-name {
    background: darkgray;
    padding: 2px;
    display: inline-block;
    color:white;
    width: 100px;
    border-radius: 3px;
    text-align: center;
}

.filter-group {
    display: inline-block;
    margin: 5px 15px;
}


canvas {
    margin-left: 15px;
    margin-bottom: 40px;
    background: black;
    width: 600px;
    max-width: 100%;
    border-color:darkgray;
    border-width: 30px;
}

.filter-buttons button,
.editor-buttons button {
    margin: 4px;
    background: black;
    border: none;
    color: white;
    font-family: "Lato";
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1em;
}

    .filter-buttons button.disabled {
        background: lightblue;
    }

.filter-buttons button {
    padding: 2px 10px;
    margin: 0;
    cursor: pointer;
    background: #1E90FF;
}

.editor-buttons #reset-btn {
    background: #f44336;
}

.editor-buttons #download-btn {
    background: #009688;
}

.editor-buttons button:hover {
    background: black;
    cursor: pointer;
}

.editor-buttons {
    display: inline-block;
    margin-top: 10px;
}

[type="file"] {
    display: none;
}

    [type="file"] + label {
        margin: 10px 4px;
        background: #673ab7;
        border: none;
        color: white;
        cursor: pointer;
        font-family: "Lato";
        padding: 8px 12px;
        border-radius: 4px;
        display: inline-block;
    }

        [type="file"] + label:hover {
            background: #3399ff;
        }
